<div class="m-3">
    <h2><span class="badge badge-primary">Materi 1</span> : Angular Introduction</h2>
</div>

<div class="row mb-3 red">
    <!-- FORM INPUT -->
    <div class="jumbotron col-md-4 themed-grid-col">
        <form name="form" [formGroup]="fg" #formDir="ngForm" (ngSubmit)="onSubmit()">

            <!-- book name -->
            <div class="form-group">
                <label>Book Name</label>
                <input formControlName="bookName" class="form-control" placeholder="ex : Harry Potter" autofocus>
                <div *ngIf="f.bookName.invalid && (f.bookName.dirty || f.bookName.touched)" class="alert alert-warning"
                    role="alert">
                    <div *ngIf="f.bookName.errors.required">Book Name is required.</div>
                    <div *ngIf="f.bookName.errors.minlength">Book Name must be at least 4 characters long.</div>
                </div>
            </div>

            <div class="form-group">
                <label>URL</label>
                <input formControlName="bookURL" class="form-control" placeholder="ex : http://adit.web.id">

                <div *ngIf="f.bookURL.invalid && (f.bookURL.dirty || f.bookURL.touched)" class="alert alert-warning"
                    role="alert">
                    <div *ngIf="f.bookURL.errors.required">Book Link is required.</div>
                    <div *ngIf="f.bookURL.errors.pattern">please insert valid URL.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-dark btn-lg" [disabled]="formDir.invalid">Save</button>
        </form>
    </div>



    <!-- TABLE -->
    <div class="col-md-8 themed-grid-col">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th>No.</th> -->
                        <th>Like Count</th>
                        <th>Book Name</th>
                        <th>URL</th>
                        <th>Vote</th>
                        <!-- <th>Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of sortedArticles(); let i = index">
                        <!-- <td>{{i+1}}</td> -->
                        <td><b>{{article.votes}}</b></td>
                        <td>{{article.title}}</td>
                        <td><a href="{{article.link}}" target="_blank">{{article.link}}</a></td>
                        <td>
                            <button (click)="article.voteDown()" type="button" class="btn btn-outline-danger"><i
                                    class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                            &nbsp;
                            <button (click)="article.voteUp()" type="button" class="btn btn-outline-success"><i
                                    class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                        </td>
                        <!-- <td><button data-toggle="modal" data-target="#exampleModalLong"  type="button" class="btn btn-outline-secondary">Read</button></td> -->
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>



<!-- MODAL -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Read </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>

        </div>
    </div>
</div>