<div class="row mb-3">

    <div class="col-md-4 themed-grid-col">
        <form class="ml-5">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input #bookname id="inputName" class="form-control" placeholder="Book Name" required autofocus>
            <div class="m-1"></div>
            <input #bookLink id="inputLink" class="form-control" placeholder="Book Link" required>
            <div class="m-2"></div>
            <button (click)="addArticle(bookname, bookLink, bookLink)" class="btn btn-lg btn-primary btn-block">Add
                New Book</button>
        </form>
    </div>


    <div class="col-md-8 themed-grid-col">
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>Like Count</th>
                        <th>Book Name</th>
                        <th>URL</th>
                        <th>Vote</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of sortedArticles()">
                        <td><b>{{article.votes}}</b></td>
                        <td>{{article.title}}</td>
                        <td><a href="{{article.link}}" target="_blank">{{article.domain()}}</a></td>
                        <td>
                            <button (click)="article.voteDown()" type="button" class="btn btn-outline-danger">Dislike</button>
                            &nbsp;
                            <button (click)="article.voteUp()" type="button" class="btn btn-outline-success">Like</button>
                        </td>
                        <td><button type="button" class="btn btn-outline-secondary">Read</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>