.ng-invalid:not(form) {
    border: 1px solid #a94442;
}

.field .submit-message {
    text-align: left;
    color: darkred;
    padding: 12px 12px 12px 12px;
    font-size: 10pt;
}

.cross-error input {
    border-left: 5px solid red;
    color: red;
}