<mat-tab-group mat-align-tabs="start">


  <mat-tab label="OUTPUT">
    <div class="adit-top">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>playlist_add</mat-icon>
            <div class="mat-body-1">Input Karyawan Baru</div>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <form name="form" [formGroup]="fg" #formDir="ngForm" (ngSubmit)="onSubmit()">
          <!-- email address -->
          <mat-form-field class="example-full-width">
            <mat-label>Email Address</mat-label>
            <input formControlName="emailAddress" matInput placeholder="Ex. example@domain.com">
            <!-- isValid? -->
            <mat-error *ngIf="fc.emailAddress.invalid && (fc.emailAddress.dirty || fc.emailAddress.touched)">
              <div *ngIf="fc.emailAddress.errors.required">Email Address is required.</div>
              <div *ngIf="fc.emailAddress.errors.minlength">Email Address must be at least 4 characters long.</div>
              <div *ngIf="fc.emailAddress.errors.email">Invalid Email Address format.</div>
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <!-- first name -->
            <mat-form-field class="example-full-width">
              <mat-label>First Name</mat-label>
              <input formControlName="firstName" matInput placeholder="Ex. Adit">
              <!-- isValid? -->
              <mat-error *ngIf="fc.firstName.invalid && (fc.firstName.dirty || fc.firstName.touched)">
                <div *ngIf="fc.firstName.errors.required">First Name is required.</div>
                <div *ngIf="fc.firstName.errors.minlength">First Name must be at least 4 characters long.</div>
                <div *ngIf="fc.firstName.errors.email">Invalid First Name format.</div>
              </mat-error>
            </mat-form-field>

            <!-- last name -->
            <mat-form-field class="example-full-width">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" matInput placeholder="Ex. Psgt">
              <!-- isValid? -->
              <mat-error *ngIf="fc.lastName.invalid && (fc.lastName.dirty || fc.lastName.touched)">
                <div *ngIf="fc.lastName.errors.required">Last Name is required.</div>
                <div *ngIf="fc.lastName.errors.minlength">Last Name must be at least 4 characters long.</div>
                <div *ngIf="fc.lastName.errors.email">Invalid Last Name format.</div>
              </mat-error>
            </mat-form-field>
          </div>


          <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
            <!-- password -->
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="***">
            
              <!-- isValid? -->
              <mat-error *ngIf="fc.password.invalid && (fc.password.dirty || fc.password.touched)">
                <div *ngIf="fc.password.errors.required">Password is required.</div>
                <div *ngIf="fc.password.errors.minlength">Password must be at least 6 characters long.</div>
                <div *ngIf="fc.password.errors.pattern">
                  Password must contain letters, numbers, and symbol, min 6 characters.</div>
              </mat-error>
            </mat-form-field>

            <!-- repeat password -->
            <mat-form-field class="example-full-width">
              <mat-label>Repeat Password</mat-label>
              <input formControlName="repassword" matInput type="password" placeholder="Ex. ***">
              <!-- isValid? -->
              <mat-error *ngIf="fc.repassword.invalid && (fc.repassword.dirty || fc.repassword.touched)">
                <div *ngIf="fc.repassword.errors.required">Repeat Password is required</div>
                <div *ngIf="fc.repassword.errors.mustMatch">Passwords not match</div>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field class="example-full-width">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="1234 Main St Apartment, studio, or floor">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <span matPrefix>+62 &nbsp;</span>
            <input type="number" formControlName="phoneNumber" matInput placeholder="555-555-1234" maxlength="11">
            <!-- isValid? -->
            <mat-error *ngIf="fc.phoneNumber.invalid && (fc.phoneNumber.dirty || fc.phoneNumber.touched)">
              <div *ngIf="fc.phoneNumber.errors.required">Phone Number is required</div>
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-error fxFlex>
              <div *ngIf="fg.invalid"> ups, mohon isi semua field diatas.</div>
            </mat-error>
            <button mat-raised-button [disabled]="fg.invalid" >Submit</button>
          </div>
        </form>

      </mat-expansion-panel>

    </div>



    <div class="adit-top">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Tabel Karyawan</mat-card-title>
          <mat-card-subtitle>Daftar Karyawan yang ada di sistem</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <div *ngIf="employees">
            <table class="table table-bordered table-hovers">
              <thead class="thead-dark">
                <tr>
                  <th>No.</th>
                  <th>Email</th>
                  <th>Name</th>
                  <th>Password</th>
                  <th>Address</th>
                  <th>Phone Number</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="">
                <tr *ngFor="let e of employees; let i = index">
                  <td><b>{{i + 1}}</b></td>
                  <td>{{e.emailAddress}}</td>
                  <td>{{e.firstName + ' ' + e.lastName}}</td>
                  <td>{{e.password}}</td>
                  <td>{{e.address}}</td>
                  <td>+62{{e.phoneNumber}}</td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item disabled>
                        <mat-icon>launch</mat-icon>
                        <span>Detail</span>
                      </button>
                      <button routerLink="/materi-2/edit/{{e.id}}" mat-menu-item>
                        <mat-icon>history_edu</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button (click)="deleteEmployee(e)" mat-menu-item>
                        <mat-icon>delete_sweep</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="employees.length == 0">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="OVERVIEW">
    <div class="adit-top">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Overview Materi 2</mat-card-title>
          <mat-card-subtitle>Materi ini sudah mencakup : </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">
              Consume RESTful API + Service with (DI) : API dibangun dengan &nbsp; <a
                href="https://jsonplaceholder.typicode.com/" target="_blank">JSON FAKE API</a> &nbsp; (C R U D)
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">Form Validation <code>(Reactive)</code></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">In-app Navigation <code>(Routing)</code></mat-list-item>

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
