<mat-tab-group mat-align-tabs="start">
  <mat-tab label="OUTPUT">

    <div class="adit-top">
      Materi2 Work!
    </div>
   
  </mat-tab>


  <mat-tab label="OVERVIEW">
    <div class="adit-top">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Overview Materi 2</mat-card-title>
          <mat-card-subtitle>Materi ini sudah mencakup : </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">
              Consume RESTful API + Service with (DI) : API dibangun dengan &nbsp; <a
                href="https://jsonplaceholder.typicode.com/" target="_blank">JSON FAKE API</a> &nbsp; (C R U D)
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">Form Validation <code>(Reactive)</code></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">In-app Navigation <code>(Routing)</code></mat-list-item>

          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
