<!-- qoute app -->
<div class="adit-top">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="mat-body-1">
          Adit Qoute 💗
          <mat-panel-description>
          </mat-panel-description>
        </div>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <!-- RANDOM QOUTE -->
    <p><code>"{{aQoute}}"</code></p>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex>
        qoute ini ditulis oleh <a href="https://www.facebook.com/pantat.berkeringat/posts/1194756463884736"
          target="_blank">
          <b>Aditya P.</b></a>&nbsp; di <i class="fa fa-facebook" style="color:rgb(68, 90, 187);"></i> &nbsp; 2012 -
        2015
      </div>
      <div fxFlex="nogrow">
        <button (click)="loadQoute()" mat-fab color="warn">
          <mat-icon>sync</mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</div>


<div class="adit-top">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Guide Helper</mat-card-title>
        <mat-card-subtitle>Daftar link dokumentasi untuk mempermudah develop</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item><a href="https://angular.io/docs" target="_blank">angular.io</a></mat-list-item>
          <mat-list-item><a href="https://material.angular.io/components/categories" target="_blank">angular-material</a></mat-list-item>
          <mat-list-item><a href="https://tburleson-layouts-demos.firebaseapp.com/" target="_blank">fxLayout</a></mat-list-item>
          <mat-list-item><a href="https://material.io/resources/icons/" target="_blank">material.io | icon</a></mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>

    <mat-card fxFlex>
      <mat-card-header>
        <mat-card-title>API Doc.</mat-card-title>
        <mat-card-subtitle>Dokumentasi Resful API</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Base URL : <code><a href="http://my-json-server.typicode.com/abehbatre/fake-api" target="_blank">http://my-json-server.typicode.com/abehbatre/fake-api/</a></code>
          </mat-list-item>
          <mat-list-item>Books : <code>/book</code></mat-list-item>
          <mat-list-item>Employee : <code>/employee</code></mat-list-item>
          <mat-list-item>Profile : <code>/profile</code></mat-list-item>
        </mat-list>
      </mat-card-content>
     
    </mat-card>
  </div>
</div>