<div class="m-5">

  <h3>aL4y Tim3</h3>

  <blockquote class="blockquote">
    <p class="mb-0">{{aQoute}}</p>
    <footer class="blockquote-footer">qoute ini ditulis oleh <cite title="Source Title"><a
          href="https://www.facebook.com/pantat.berkeringat/posts/1194756463884736" target="_blank">
          <b><i class="fa fa-facebook-official"> </i> Aditya P. </b></a>&nbsp; | &nbsp; 2012 - 2015
      </cite>
    </footer>
  </blockquote>

  <button (click)="loadQoute()" type="button" class="btn btn-outline-dark">Load Other Qoute</button>


</div>