<!-- Toolbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img
    src="https://1.bp.blogspot.com/-MwJI22_Ek_0/XJQEjL9WGjI/AAAAAAAAJSs/Kd9WAGTItDoTRoaIFLE8qwOrj3STIMbfQCK4BGAYYCw/s1600/logo%2Bangular%2Bicon.png"
    width="30" height="30" alt="">
  <a (click)="mBookRank=false; mEmployee=false" class="navbar-brand" routerLink="/" href="#">dit Training</a>


  <!--  MENUS  -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': mBookRank}">
        <a (click)="mBookRank=true; mEmployee=false" class="nav-link" routerLink="/book-rank">Materi 1<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active': mEmployee}">
        <a (click)="mBookRank=false; mEmployee=true" class="nav-link" routerLink="/employee" href="#">Materi 2</a>
      </li>

    </ul>

  </div>
</nav>

<!-- RANDOM QOUTE -->
<div class="bdikit">
<div class="alert alert-success">
  <h1><span class="badge badge-secondary">aL4y t1m3</span> </h1>
  <blockquote class="blockquote">
    <p class="mb-0">{{aQoute}}</p>
    <footer class="blockquote-footer">qoute ini ditulis oleh <cite title="Source Title"><a
          href="https://www.facebook.com/pantat.berkeringat/posts/1194756463884736" target="_blank">
          <b><i class="fa fa-facebook-official"> </i> Aditya P. </b></a>&nbsp; | &nbsp; 2012 - 2015
      </cite>
    </footer>
  </blockquote>

  <button (click)="loadQoute()" type="button" class="btn btn-outline-dark">Load Other Qoute</button>
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>


<router-outlet></router-outlet>