<div class="m-3">
  <button [routerLink]="['/browse-input']" routerLinkActive="router-link-active"  type="button" class="btn btn-outline-dark"><i class="fa fa-plus"></i> Bikin Baru</button>



  <!-- TABLE -->
  <div class="col-md-8 themed-grid-col">
    <br>
    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th>No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Action 🏑</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td>ZZZ</td>
            <td>ZZZ</td>
            <td><a href="ZZZ" target="_blank">ZZZ</a></td>
            <td>ZZZ</td>
            <td>
              <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash-o"></i></button>
              &nbsp;
              <button type="button" class="btn btn-outline-success"><i class="fa fa-edit"></i></button>
            </td>
            <!-- <td><button data-toggle="modal" data-target="#exampleModalLong"  type="button" class="btn btn-outline-secondary">Read</button></td> -->
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>

</div>